#navbarNav ul {
	float: right!important;
}
.main {
	margin-top: 20px;
}
.bg-light {
    background-color: #6c757d!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff!important;
}




@media (max-width: 700px){
	.navbar{
		width: 100%;
		float: left !important;
	}
	#navbarNav ul {
    	float: left !important;
	}
	.navbar-light .navbar-nav .nav-link {
	    color: #333 !important;
	    font-size: 1.5em;
	    font-weight: bold;
	}

}